<div class="row">
  <div class="col s12 text-center">
    <h5 class="teal-text text-darken-2">Cadastro de Projeto</h5>

    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="nome" type="text" name="nome" [(ngModel)]="projeto.nome">
          <label for="nome">Nome</label>
        </div>

        <div class="input-field col s12">
          <input id="descricao" type="text" name="descricao" [(ngModel)]="projeto.descricao">
          <label for="descricao">Descricao</label>
        </div>

        <div class="input-field col s12">
          <input id="valor" type="number" name="valor" [(ngModel)]="projeto.valor">
          <label for="valor">R$ Valor</label>
        </div>
        <div class="input-field col s12">
            <select multiple [(ngModel)]="projeto.envolvidos" [ngModelOptions]="{standalone: true}" materialize="material_select" [materializeSelectOptions]="politicos">
              
              <option *ngFor="let item of politicos" value="{{item._id}}">{{item.nome}}</option>
            </select>
            <label>Politicos Envolvidos</label>
          </div>
          <div class="input-field col s12">
              <select multiple [(ngModel)]="projeto.afavor" [ngModelOptions]="{standalone: true}" materialize="material_select" [materializeSelectOptions]="politicos">
                
                <option *ngFor="let item of politicos" value="{{item._id}}">{{item.nome}}</option>
              </select>
              <label>A Favor</label>
            </div>
            <div class="input-field col s12">
                <select multiple [(ngModel)]="projeto.contra" [ngModelOptions]="{standalone: true}" materialize="material_select" [materializeSelectOptions]="politicos">                  
                  <option *ngFor="let item of politicos" value="{{item._id}}">{{item.nome}}</option>
                </select>
                <label>Contra</label>
              </div>
      </div>
    </form>
    
  </div>
  <div class="col s3">

  </div>
  <div class="col s12">
    <h5 class="teal-text text-darken-2"><i class="material-icons">location_on</i>Escolha a Localização do Projeto</h5>
      <agm-map [latitude]="projeto.latitude" [longitude]="projeto.longitude" [zoom]="15" (mapClick)="placeMarker($event)">
          <agm-marker [latitude]="projeto.latitude" [longitude]="projeto.longitude"></agm-marker>
        </agm-map>
  </div>
  <div class="col s12">
      <a class="btn waves-effect waves-light teal darken-3" (click)="salvar()">
        <i class="material-icons left">done</i>Salvar
      </a>
    </div>
</div>